<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="Logfile" xsi:type="File" fileName="C://Users//Rafael//source//repos//Logs//Logfile.txt" />
    </targets>
    <rules>
      <logger name="*" level="Error" writeTo="Logfile" />
    </rules>
  </nlog>
  <appSettings>
    <add key="SmtpClientHost" value="smtp.gmail.com" />
    <add key="SmtpClientPort" value="587" />
    <add key="MailLogin" value="volkov.rafael2001@gmail.com" />
    <add key="MailPassword" value="Rafael20)!" />
  </appSettings>
</configuration>